body{
	height: 100%;
	text-align: center;
	min-height: 100%;
	background: linear-gradient(to right, #77C9D5, #57BC90);
	background: -webkit-linear-gradient(left, #77C9D5, #57BC90); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #77C9D5, #57BC90); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #77C9D5, #57BC90); /* For Firefox 3.6 to 15 */
  	margin: 0px;
}


hr{
    margin:25px 0px;
    border-top: 1px solid #eee;
}

ul{
	padding-left: 0px
}

a{
	text-decoration: none;
	color: #388c9f;
}


a:visited{
	color: #388c9f;
}

h2{ /*section headers*/
	margin:20px 0px;
	font-family: 'Merriweather', serif;
	color: #015249;

}

h3{ /*section subheaders*/
	font-family: 'Sorts Mill Goudy', serif;
	/*color: #187f72;*/
	color: #346858;
}
p{ /*section paragraphs*/
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 1.2em;
}

.shortLine{
	width: 20%;
	margin: auto;
}

/*-----------------Naviagtion bar------------------*/
.topNav{
	background: rgba(255,255,255,0.6);
	padding: 20px 20px;
	overflow: hidden;
    position:fixed;
    top:0;
    width: 100%;
    z-index:170;
}

.topNav a{
	font-size: 16px;
	font-family: 'Merriweather', serif;
}

.topNav ul li{
	display: inline-block;
	padding: 0px 20px;
	list-style-type: none;
}

.topNav #logo{
	display: none;
}

.topNav a.icon{
	display: none;
}


/*-----------------Intro------------------*/
#intro{
	padding: 30px 0px;
	height: 100vh;
	position: relative;
}

#intro img{
	margin-top: 10.5em;
	display: inline-block;
    vertical-align: middle;
	border-radius: 50%;
	height: 50vh;
}


/*-----------------About------------------*/
#about li{
	text-align: left;
}

#about img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

/*#about .col-lg-4{
	width: 33%;
	margin:0px;
}*/

/*-----------------Skills------------------*/

#skills ul{
	margin: 20px;
}

#skills ul li{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	margin: 10px;
	border: 1px solid #187f72;
}

#skills #terminal{
	color: white;
	font-size: 60px;
	width: 92px;
	height: 93px;
}

#skills ul li i{
	font-size: 7rem;
	color: white;
}

/*-----------------Projects------------------*/
#projects .row{
	margin-top: 20px;
	margin-bottom: 20px;
}

#projects p, #projects ul{
	text-align: left;
}

#projects ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px;
	border: 1px solid #187f72;
	margin: 5px;
}

#projects h3{
	margin: 0px;
}

#projects img{
	max-width: 100%;
	max-height: 100%;
}

/*-----------------Resume------------------*/
#resume a{
	font-size: 2.5em;
}

/*-----------------Contact------------------*/
input[type=text]{
	color: white;
	margin: 10px;
	border: none;
	border-bottom: 1px solid #187f72;
	background-color: transparent;
}

input[type=text], textarea{
	width: 25%;
}

textarea{
	margin: 10px;
	border: none;
	border-bottom: 1px solid #187f72;
	background-color: transparent;
	color: white;
	resize: none;
}

textarea:focus {
	outline: none;
    border-bottom: 3px solid white;
}

input[type=text]:focus {
	outline: none;
    border-bottom: 3px solid white;
}

input[type=submit]{
	background-color: transparent;
	margin-top: 10px;
	padding: 10px 30px;
	border: 1px solid #187f72;
	color: #187f72;
}

/*-----------------Footer------------------*/
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
}

footer ul li{
	list-style-type: none;
	display: inline;
	padding: 20px;
}

/*############Findings.html################*/

/*-----------------Research------------------*/
#research{
	margin-top: 7.5em;
}
#research .row{
	margin-top: 20px;
	margin-bottom: 20px;
}

#research p{
	text-align: left;
}


#research h3{
	margin: 0px;
}

#research img{
	max-width: 100%;
	max-height: 100%;
}

/*-----------------Testing------------------*/
#testing .row{
	margin-top: 20px;
	margin-bottom: 20px;
}

#testing p{
	text-align: left;
}


#testing h3{
	margin: 0px;
}

#testing img{
	max-width: 100%;
	max-height: 100%;
}

/*-----------------Summary------------------*/
#summary p{
	text-align: left;
}

/*-----------------Incorporation------------------*/
#incorporation p{
	text-align: left;
}

/*-----------------Media Queries------------------*/
/*Desktop*/
@media screen and (min-width: 1024px){
  .topNav a:hover{
		text-decoration: none;
		padding-bottom: 3px;
		border-bottom: 1px solid white;
	}

	input[type=submit]:hover{
		color: white;
		border: 1px solid white;
		background: #187f72;
	}
}

/* Tablet Landscape or Portrait */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  	#about .col-lg-4{
		width: 100%;
		float: left;
		margin:10px;
	}

	#fabflix, #collective_conscience{
		margin-bottom: 10px;
	}
}

/*Tablet Portrait*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
  	#intro img{
  		height: 30vh;
  		margin-top: 10.5em;
  	}

}

 /*Mobile Landscape*/
@media only screen and (max-width: 812px) and (orientation: landscape){
	#intro img{
		margin-top: 1.25em;
	}
}

/*Mobile Portrait*/
@media only screen and (max-width: 812px){

	.topNav a{
		display: none;
	}

	.topNav #logo h1{
		margin: 0px;
	}
	.topNav #logo{
		position: absolute;
		display: block;
		right: 0;
		left: 0;
		top: 0;
		margin: 20px 20px;

	}
	.topNav a.icon {
	    float: right;
	    display: block;
	    position: absolute;
	    right: 0;
	    top: 0;
	    border-bottom: none;
	    font-size: 2.5em;
	    margin: 20px 16px;
	}

	.topNav.responsive {
		position: relative;
	}

	.topNav.responsive .icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	}

	.topNav.responsive ul li a{
	    display: block;
	    border-bottom: none;
	}

	.topNav.responsive ul li{
	    float: none;
	    display: block;
	    padding: 10px 0px;
	    transition: all .25s ease;
	}

	#intro img{
		margin-top: 7.25em;
	}

	#about .row {
	    display: table;
	    width: 100%;
	}

	#about .col-lg-4{
		width: 100%;
		float: left;
		margin:10px;
	}

	#fabflix, #collective_conscience{
		margin-bottom: 10px;
	}
	input[type=text], textarea{
		width: 70%;
	}
}
